/************************************************************************************** 
UNIVERSAL
*/

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}


/************************************************************************************** 
MAIN PAGE
*/

main {
    /* used a random photo because brackets.io no longer offers the extract tool for free and I don't own photoshop */
    background-image: url('./images/snowy_mountain_hero.jpg'); 
    height: 100vh; 
    width: 100vw; 
}

#main-section {
    height: 90vh; 
    width: 100vw; 
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-right: 10vw; 
}

.main-nav {
    width: 100vw; 
    height: 10vh; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin-left: 250px; 
    height: 6vh; 
    width: 3vw; 
}

.links {
    display: flex; 
    justify-content: flex-end; 
    margin-right: 250px; 
}

.links a {
    color: white; 
    font-style: italic;
}

.team {
    margin-left: 45px; 
}

#header-div {
    height: 40vh; 
    width: 50vw; 
    /* background-color: black;  */
    text-align: center; 
    display: block; 
    line-height: 385%;
}

#header-div p {
    display: block; 
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0; 
    padding: 0; 
}

.la {
    color: #36454F; 
    font-size: 85px; 
}

.mountains {
    color: white; 
    font-size: 91px; 
}

/************************************************************************************** 
HISTORY PAGE
*/

.history-section {
    background-image: url('./images/snowy-mountain2.jpg'); 
    height: 100vh; 
    width: 100vw; 
}

.nav-header {
    font-size: 20px; 
    color: #36454F; 
}

.history-nav {
    background-color: white;
}

.logo {
    display: flex; 
}

.logo-text-div {
    margin: 10px 0 0 10px; 
}

.logo-text {
    line-height: 15%; 
}

.history-links a {
    color: #36454F; 
}

.history-container {
    display: flex; 
    justify-content: center;
    height: 40vh;
}

.history-article {
    /* background-color: white;  */
    height: 35vh; 
    width: 70vw; 
}

.top-half {
    display: flex; 
    height: 23vh; 
}

.bottom-half {
    display: flex; 
    justify-content: center;
}

.text-container {
    width: 58vw; 
    margin-top: 25px; 
}


#number {
    font-size: 12vw; 
    color: rgba(34, 68, 112, .8); 
}

#square {
    background-color: rgba(34, 68, 112, .8); 
    height: 15px;  
    width: 15px; 
}

.history-text {
    padding-top: 22vh; 
    line-height: 25%; 
}

#history-text {
    font-size: 2vw; 
    color: #36454F; 
}


/************************************************************************************** 
CAROUSEL
*/


.carousel-container {
    height: 30vh; 
    width: 100vw; 
    display: flex; 
    justify-content: center;
    margin-top: 20vh; 
    background-color: #224470;
    background-color: rgba(34, 68, 112, .5)
}

.carousel { 
    /* width:640px;
    height:360px; */
    width: 25vw; 
    height: 25vh; 
  }

.carousel-img {
    background-size:contain;
    background-repeat:no-repeat;
    background-size: cover;
    height: 30vh; 
    /* width: 2vw;  */
}



/* .carousel .item {
    height: 300px;
  } */
  
  /* .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  } */


/************************************************************************************** 
CLIMB
*/

.climb-section {
    background-image: url('./images/snowy-mountain5.jpg'); 
    background-position: cover;
    background-repeat: no-repeat;
    width: 100vw; 
    height: 100vh; 
}

.climb-header {
    width: 100vw; 
    height: 20vh; 
    background-color: white; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.climb-table {
    width: 80vw; 
    height: 20vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-half {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 20vh; 
    margin: 0; 
}


#number2 {
    font-size: 11vw; 
    color: #A1A4AB
}

#square2 {
    background-color: #A1A4AB; 
    height: 15px;  
    width: 15px; 
}

.climb-text {
    padding-top: 10vh; 
    line-height: 25%; 
}

#climb-text {
    font-size: 2vw; 
}

.right-half {
    height: 20vh;
    width: 45vw; 
}

.divider {
    width: 5vw; 
}

.right-half p {
    padding-top: 6vh; 
}

.line {
    height: 8vh; 
    width: 100vw; 
    background-color: rgb(34, 68, 112);
    display: flex; 
}

.tab {
    height: 8vh; 
    width: 10vw; 
}

.tab p {
    padding-left: 20px; 
    padding-top: 18px; 
    font-size: 15px; 
}

.mountain1 {
    background-color: #A1A4AB; 
    margin-left: 15vw;
}

.mountain1 p {
    color: rgb(34, 68, 112);
    text-decoration: underline; 
}

.mountain2 p {
    color: #A1A4AB; 
}

.schedule-container {
    margin-left: 16vw; 
    margin-top: 12vh; 
    height: 30vh; 
    width: 30vw; 
    background-color: rgba(255,255,255, 0.5);
}

.schedule-section {
    width: 30vw; 
    padding-left: 2vw; 
}

.schedule-section p {
    color: rgb(34, 68, 112);
    font-size: 25px; 
    padding-top: 2vh; 
}

.schedule-table {
    display: flex; 
    width: 30vw; 
    line-height: 80%; 
}

.dates {
    width: 15vw; 
}

.dates p {
    padding-left: 2vw; 
}

.description {
    width: 15vw; 
}

footer {
    width: 100vw; 
    height: 7vh; 
    background-color: rgb(34, 68, 112);
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.copyright p {
    margin-right: 15vw;
    padding-top: 10px;  
}





